# ignore RStudio project files
.Rproj.user
# ignore R files
.Rhistory
.RData
# ignore tmp files
inst/tmp
# ignore vignette artefacts
FraseR.pdf
cache
vignettes/*.pdf
vignettes/*.tex
vignettes/*.txt
# ignore cpp files
*.o
*.so
*.dll
*.db
.nfs000*
