# ignore RStudio project files
*.Rproj*

# ignore R files
.Rhistory
.RData

# ignore tmp files
tmp

# ignore vignette artefacts
FraseR.pdf
cache
vignettes/*.pdf
vignettes/*.tex
vignettes/*.txt
vignettes/*.log
vignettes/*.aux
vignettes/*.toc
vignettes/*.out
vignettes/*.R
vignettes/figure/*

# ignore cpp files
*.o
*.so
*.dll
*.db
.nfs000*
.Rsubread*
kremer_ae_*.pdf
doc
Meta
