# ignore RStudio project files
*.Rproj*

# ignore R files
.Rhistory
.RData

# ignore tmp files
tmp
inst/igv
inst/tmp*

# ignore vignette artefacts
FraseR.pdf
cache
vignettes/*.tex
vignettes/*.txt
vignettes/*.log
vignettes/*.aux
vignettes/*.toc
vignettes/*.out
vignettes/*.R
vignettes/*.bbl
vignettes/*.synctex.gz
vignettes/figure/*
vignettes/Bioconductor.sty
vignettes/unsrturl.bst

# ignore cpp files
*.o
*.so
*.dll
*.db

# ignore random files
.nfs000*
.Rsubread*
kremer_ae_*.pdf
doc
Meta
.Rproj.user
FRASER_output
